<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jemcom.cowalker">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    .
    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="코워커"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/color_push" />

        <activity android:name=".Jemin.Activity.MainActivity" />
        <activity android:name=".Jemin.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Jemin.Activity.ProjectCreateActivity" />
        <activity android:name=".Jemin.Activity.InviteActivity" />
        <activity android:name=".Jemin.Activity.Invite2Activity" />
        <activity android:name=".Jemin.Activity.ProjectCreate2Activity" />
        <activity android:name=".Nuri.Activity.SignupActivity" />
        <activity android:name=".Nuri.Activity.Notice_messageActivity" />
        <activity android:name=".Nuri.Activity.LoginActivity" />
        <activity android:name=".Jemin.Activity.TestActivity" />
        <activity android:name=".Jemin.Activity.Invite4Activity" />
        <activity android:name=".Jemin.Activity.Invite3Activity" />
        <activity android:name=".Nuri.Activity.ApplyModifyActivity" />
        <activity android:name=".Hyunmin.Activity.MypageProfileEditActivity" />
        <activity android:name=".Hyunmin.Activity.ProfileEditActivity" />
        <activity android:name=".Nuri.Activity.MessageActivity" />
        <activity android:name=".Hyunmin.Activity.ProfileMore2Activity" />
        <activity android:name=".Jemin.Activity.ProjectChangeActivity" />
        <activity android:name=".Jemin.Activity.ProjectChange2Activity" />
        <activity android:name=".Nuri.Activity.RecruitDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>

            <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key" />
        </activity>
        <activity android:name=".Nuri.Activity.RecruitDeleteActivity" />
        <activity android:name=".Jemin.Activity.ProjectMemberActivity" />
        <activity android:name=".Jemin.Activity.ApplyActivity" />
        <activity android:name=".Jemin.Activity.ApplyDetailActivity" />
        <activity android:name=".Jemin.Activity.ApplyMemberActivity" />
        <activity android:name=".Jemin.Activity.ApplyPaperActivity" />
        <activity android:name=".Nuri.Activity.OtherpageProjectlistActivity" />
        <activity android:name=".Nuri.Activity.MyInfoEditActivity" />
        <activity android:name=".Nuri.Activity.ApplyModify2Activity" />
        <activity android:name=".Nuri.Activity.ApplyModify3Activity" />
        <activity android:name=".Nuri.Activity.ApplyModify4Activity" />
        <activity android:name=".Hyunmin.Activity.MypageProjectlistActivity" />
        <activity android:name=".Jemin.Activity.ProjectDetailActivity" />
        <activity
            android:name=".Nuri.Activity.RecommendActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".Nuri.Activity.PopupActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".Jemin.Activity.SearchFilterActivity" />

        <!-- FCM 관련 서비스 -->
        <service android:name=".Firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- 여기까지 -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity android:name=".Jemin.Activity.ShareActivity"></activity>
    </application>

</manifest>