<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jemcom.cowalker">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Jemin.Activity.MainActivity" />
        <activity android:name=".Jemin.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>

            <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key" />
        </activity>
        <activity android:name=".Jemin.Activity.ProjectCreateActivity" />
        <activity android:name=".Jemin.Activity.InviteActivity" />
        <activity android:name=".Jemin.Activity.Invite2Activity" />
        <activity android:name=".Jemin.Activity.ProjectCreate2Activity" />
        <activity android:name=".Nuri.Activity.SignupActivity" />
        <activity android:name=".Nuri.Activity.Notice_messageActivity" />
        <activity android:name=".Nuri.Activity.LoginActivity" />
        <activity android:name=".Jemin.Activity.TestActivity" />
        <activity android:name=".Jemin.Activity.Invite4Activity" />
        <activity android:name=".Jemin.Activity.Invite3Activity" />
        <activity android:name=".Jemin.Activity.SearchFilterActivity" />
        <activity android:name=".Hyunmin.Activity.MypageProfileEditActivity" />
        <activity android:name=".Hyunmin.Activity.ProjectIntroActivity" />
        <activity android:name=".Hyunmin.Activity.ProfileEditActivity" />
        <activity android:name=".Nuri.Activity.MessageActivity" />
        <activity android:name=".Hyunmin.Activity.ProfileMore2Activity" />
        <activity android:name=".Jemin.Activity.ProjectIntroCreaterActivity" />
        <activity android:name=".Jemin.Activity.ProjectChangeActivity" />
        <activity android:name=".Jemin.Activity.ProjectChange2Activity" />
        <activity android:name=".Jemin.Activity.ProjectIntroWaitActivity" />
        <activity android:name=".Jemin.Activity.ProjectIntroParticipActivity" />
        <activity android:name=".Nuri.Activity.RecruitDetailActivity" />
        <activity android:name=".Nuri.Activity.RecruitDeleteActivity" />
        <activity android:name=".Jemin.Activity.ProjectMemberActivity" />
        <activity android:name=".Jemin.Activity.ApplyActivity" />
        <activity android:name=".Jemin.Activity.ApplyDetailActivity" />
        <activity android:name=".Jemin.Activity.ApplyMemberActivity" />
        <activity android:name=".Jemin.Activity.ApplyPaperActivity"></activity>
        <activity android:name=".Nuri.Activity.OtherpageProjectlistActivity" />
        <activity android:name=".Nuri.Activity.MyInfoEditActivity"></activity>
    </application>

</manifest>